/* Article uploads class */
.posts {
    margin-left: 0;
    padding: 0;
    width: unset
}

.posts h2 {
    margin-top: 0;
}

.posts p {
    margin-top: 1em;
    margin-bottom: 1em;
}

.posts p.date {
    margin-top: 2em;
    margin-bottom: 0;
    font-size: 0.8em;
    color:  #90a4ae;
}

.posts a {
    color: #3ec579;
    text-decoration: none;
}

.posts a:hover {
    color: #6d09ff;
}
