// palette

$r8-primary: #141e25;
$r8-secondary: #1f2a33;
$r8-accent: #3ec579;

$color-primary-text: #c0ffee;
$color-secondary-text: #90a4ae;
$color-hover: #6d09ff;
$color-codeblock: #304146;
$color-codeblock-text: #9ac2ce
